
ion-title {
  display: flex;
  color: rgba(32,130,200,0.8);
  background-color: #ffffff;
  padding: 20px 20px;
  font-family: "Open Sans";
  align-items: center;
  text-align: center;
}


ion-back-button {
    display: flex;
   --color:rgba(32,130,200,0.8) ;
  --border-radius: 0px;
}

.toolbarSearch {
  display: flex;
  background-color: #FBFBFD;
  font-family: "Open Sans";
}

ion-searchbar {
  justify-content: center;
  --background: #ffffff;
  margin: 10px;
}

.listCountry {
  margin-top: 16px;
}

ion-avatar {
  display: flex;
  margin: 0;
  align-items: center;
}

ion-avatar img {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}

.containerItem {
  display: flex;
  flex-direction: row;
}

.containerItem h3 {
  text-align: left;
  font-size: 14px;
}

.btn-align {
  width: 100%;
  background-color: #ffffff;
  color: #0d0d0d;
}

