<ion-header>
  <ion-toolbar>

      <div slot="start">
        <ion-back-button></ion-back-button>
      </div>

    <ion-title>
      Select a Country
    </ion-title>
  </ion-toolbar>
  <div class="toolbarSearch">
    <ion-searchbar
      [(ngModel)]="value"
      (ionChange)="filterCountry($event)"
    ></ion-searchbar>
  </div>

</ion-header>

<ion-content>
  <ion-list class="listCountry" lines="none">
    <button  class="btn-align" (click)="selectItem(country)" *ngFor="let country of countries">
           <div class="containerItem">
              <ion-avatar>
                <img src="{{country.flag}}">
              </ion-avatar>
              <h3>{{ country.name }}</h3>
          </div>
    </button>
  </ion-list>
</ion-content>
