
<ion-header class="header">
  <ion-toolbar class="toolbar-header">
    <h2>
      Covid-19
    </h2>
  </ion-toolbar>
  <ion-toolbar class="toolbar-header">
    <h4>
      Protect yourself and others around you by knowing the facts and taking appropriate precautions. Follow advice provided by your local health authority.
    </h4>
  </ion-toolbar>
  <ion-toolbar class="toolbar-header">
    <ion-button (click)="clickCountry()" color="white" class="btnSelectCountry">{{country?.name || "Select a country"}}</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="realTime">
      <ion-icon name="earth-outline"></ion-icon>
      <ion-label>Real Time</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="history">
      <ion-icon name="heart-circle-outline"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>
