#container {
  text-align: center;
  background-color: #2dd36f;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.header {
}

ion-title {
  margin: 0;
  text-align: left;
  padding-left: 16px;
}

.toolbar-header{
  --background: rgba(32,130,200,1);
}

.toolbar-header ion-button {
  margin-bottom: 30px;
  margin-left: 16px;
  font-family: "Open Sans";
}

.toolbar-header h2 {
  font-size: 24px;
  margin-left: 16px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: bold;
}

.toolbar-header h4 {
  font-size: 12px;
  margin: 0 16px 20px 16px ;
  color: #ffffff;
  font-family: "Open Sans";

}

.jolly-toolbar{
  --background: rgba(76,185,196,1);
  --background: -moz-linear-gradient(45deg, rgba(76,185,196,1) 0%, rgba(61,211,174,1) 100%);
  --background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(76,185,196,1)), color-stop(100%, rgba(61,211,174,1)));
  --background: -webkit-linear-gradient(45deg, rgba(76,185,196,1) 0%, rgba(61,211,174,1) 100%);
  --background: -o-linear-gradient(45deg, rgba(76,185,196,1) 0%, rgba(61,211,174,1) 100%);
  --background: -ms-linear-gradient(45deg, rgba(76,185,196,1) 0%, rgba(61,211,174,1) 100%);
  --background: linear-gradient(45deg, rgba(76,185,196,1) 0%, rgba(61,211,174,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cb9c4', endColorstr='#3dd3ae', GradientType=1 );

  --color:#ffffff;
}

.btnSelectCountry {
  margin-left: 16px;
  background-color: #ffffff;
  color: #0d0d0d;
  border-radius: 50px;
  --border-radius: 50px;
}
