
<ion-header>
  <ion-toolbar class="jolly-toolbar">
    <ion-title>
      Covid-19
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="jolly-toolbar">
    <ion-title>
      Let's Change Me
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="jolly-toolbar">
    <ion-button (click)="clickCountry()" color="white" class="btnSelectCountry">Select a country</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="realTime">
      <ion-icon name="earth-outline"></ion-icon>
      <ion-label>Real Time</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="history">
      <ion-icon name="heart-circle-outline"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>
